@import "../../utils/variables.scss";

// *{
//     font-family: $secondary-font;
// }

.header-first {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;

  &.dark {
    background-color: $primary-color;
    .header-second {
      display: flex;
      align-items: center;
    }
    a {
      color: white !important;
    }
  }
}
nav {
  display: flex;
  align-items: center;
}

.header-second {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90%;
}

.header-third {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.header-li {
  a {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    gap: 6px;
  }
}

.header-login {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  color: $secondary-color;
  button {
    background: none;
    border: none;
    align-items: center;
  }
}

.login-btn {
  font-weight: 700;
  background: none;
  border: none;
  color: $secondary-color;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 24px;
  font-family: $secondary-font !important;
}

.login-btn:hover {
  font-weight: 800;
  transition: 0.3s;
}

.btn-icon {
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
  color: $secondary-color;
  background: none;
  border: none;
}

nav ul li:hover {
  font-weight: 700;
  transition: 0.3s;
}

.header-secondary {
  display: flex;
  gap: 25px;
}
.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  .btn-log {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: $secondary-color;
  }
  .btn-become {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: white;
    background-color: $secondary-color;
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
.logout {
  font-weight: 700;
  background: none;
  border: none;
  color: $secondary-color;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 24px;
  font-family: $secondary-font !important;
}
