@import "../../sass/utils/variables.scss";
.search-bar {
  position: relative;
  min-width: 25px;
  display: flex;
  input {
    width: 0;
    transition: 0.5s all ease-in-out;
  }
  .btn-search {
    padding: 4px 8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.active {
    input {
      width: 100%;
      background-color: rgb(223, 228, 228);
      border-radius: 30px;
      float: right;
      padding: 4px 8px;
    }
    .btn-search {
      padding: 4px 8px;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
