@import "../../utils/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px !important;

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: $primary-color;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: $text-color;

      li:hover{
        color: #181515;
        cursor: pointer;
        
      }
    }
  }

  .footer-email {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 20px;

    h1 {
      color: $primary-color;
    }

    input {
      padding: 15px 20px;
      border-radius: 5px 0 0 5px;
      color: $text-color;
      border: 1px solid #e6e6e6;
      background-color: #f9f9f9;
    }

    button {
      padding: 15px 20px;
      cursor: pointer;
      background-color: $secondary-color;
      color: white;
      border-radius: 0 5px 5px 0;
    }
    p {
      color: $text-color;
    }
  }
}
